SUPABASE_CONN_STRING=postgresql://postgres.tuqhlwpmhkirtvgihdxs:YOUR_PASSWORD@aws-1-eu-central-1.pooler.supabase.com:5432/postgres


# Aviationstack API Key (for real-world flight number search validations)
AVIATIONSTACK_API_KEY=your_aviationstack_api_key_here
